body {
  margin: 0 !important;
}

a {
  color: black;
  text-decoration: none;
}

.about {
  width: 958px;
  height: 400px;
  left: 184px;
  top: 181px;

  background: #bd0707;
  border-radius: 10px;
}

.bayar {
  position: relative;
  top: 120px;
  background-color: #bd0707;
  color: white;
  width: 100% !important;
  height: 40px !important;
}

.brand {
  cursor: pointer;
}

.btn-primary {
  width: 100px;
  height: 30px;
  border: 2px solid #bd0707;
  border-radius: 5px;
}

.btn {
  --bs-btn-padding-x: center;
}

.btn-danger {
  width: 350px;
  height: 50px;
  margin-top: 31px;
}

.btn-login {
  background-color: white !important;
  color: #bd0707 !important;
  margin-right: 15px;
}

.btn-reg {
  background-color: #bd0707;
  color: white;
}

.card {
  width: 416px;
}

.card-body {
  padding: 33px;
  /* background-color: #f7dada; */
}

.card-body h1 {
  font-weight: 900;
  size: 36px;
  line-height: 49.18px;
  padding-bottom: 29px;
  color: #bd0707;
}

.Cart img {
  margin-right: 36px;
}

.counter {
  border-radius: 50px;
  position: relative;
  right: 52px;
  bottom: 5px;
}

.form-control {
  margin-top: 20px;
  width: 350px;
  height: 50px;
  border-color: #bd0707;
  background-color: rgba(224, 200, 200, 0.25);
}

.form-group {
  align-items: center;
}

.form-group h1 {
  color: #bd0707;
}

.formProduct .form-control {
  width: 500px;
  height: 50px;
  background: rgba(224, 200, 200, 0.25);
  border: 2px solid #bd0707;
  border-radius: 5px;
}

.hargaProd {
  width: 110px;
  height: 33px;
  left: 685px;
  top: 246px;

  font-weight: 400;
  font-size: 24px;
  line-height: 75px;
}

.jumbo {
  padding-top: 77px;
}

.kopi {
  width: 436px;
  height: 555px;
}

.modal {
  align-content: center;
  --bs-modal-padding: 33px;
  --bs-modal-width: 416px;
}

.nameProd {
  color: #bd0707;
}

.Order {
  color: #bd0707;
  padding-top: 38px;
}

.Prod {
  margin-top: 58px;
}

.Ice {
  padding-right: 38px;
  padding-top: 38px;
  padding-bottom: 86px;
}

.h5,
h5 {
  font-size: 18px;
}

.hero {
  width: 958px;
  height: 400px;
  margin-top: 40px;
  background: #bd0707;
  border-radius: 10px;
}

.login {
  --bs-btn-color: black;
  width: fit-content;
  border: unset;
  background-color: unset;
  padding-left: 40px;
  --bs-btn-hover-bg: unset;
  --bs-btn-hover-border-color: unset;
  --bs-btn-hover-color: unset;
}

.profil {
  position: relative;
  left: 120px;
}

.reg {
  --bs-btn-color: black;
  width: fit-content;
  border: unset;
  background-color: unset;
  padding-left: 40px;
  --bs-btn-hover-bg: unset;
  --bs-btn-hover-border-color: unset;
  --bs-btn-hover-color: unset;
}

.rego {
  position: relative;
  top: 59px;
  left: 390px;
  color: #974a4a;
}

.setuju {
  width: 20px;
  height: 20px;
}

.sukses {
  width: 20px;
  height: 20px;
}

.text-hero {
  margin-top: 45px;
  margin-left: 42px;
  color: white;
}

.transaction {
  position: relative;
  left: 350px;
}

.t1 {
  width: 357px;
  height: 65px;
  left: 241px;
  top: 240px;

  font-weight: 900;
  font-size: 60px;
  line-height: 65px;
}

.t2 {
  width: 505px;
  height: 33px;
  left: 247px;
  top: 321px;

  font-family: "Avenir";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.t3 {
  width: 469px;
  left: 247px;

  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.t4 {
  width: 469px;
  left: 247px;

  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.topp {
  position: relative;
  width: 77px;
  height: 33px;
  font-weight: 800;
  font-size: 24px;
  top: 74px;
  color: #974a4a;
}

.topping {
  position: relative;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.topping img {
  width: 75px;
  height: 85px;
  left: 707px;
  top: 408px;
  border-radius: 60px;
}

.total {
  display: flex;
  position: relative;
  top: 59px;
  color: #974a4a;
}

.totalrego {
  display: flex;
}

.jumbo2 {
  position: absolute;
  width: 451px !important;
  height: 324px;
  left: 620px;
  border-radius: 0px 10px 10px 0px;
  margin-top: 20px;
}

.dropdown-menu {
  padding-right: 30px;
}
